<section class="h-screen w-screen text-center bg-black relative overflow-hidden" >

  <div class="z-30 relative h-full flex flex-col" >

    <header class="">
      <h2 class="text-black pt-40 text-[40px] font-medium" >Model Y</h2>
      <p class="text-black text-sm font-medium underline py-1">Agenda una prueba de manejo</p>
    </header>

      <footer class="flex flex-col  flex-grow justify-end pb-24">
        <div class="flex flex-row max-sm:flex-col gap-x-4 gap-y-4 max-sm:items-center md:justify-center" >
          <a class="text-white text-base bg-black border-[3px] border-black hover:border-white  rounded font-medium py-2.5 px-[3.7rem] hover:bg-white transition-colors duration-300 hover:text-black "  href="#">Explorar inventario</a>
          <a class=" text-base bg-white border-[3px] border-white hover:border-black  rounded font-medium py-2.5 px-12  text-black hover:bg-black hover:text-white transition-colors duration-300 "  href="#">Pedido Personalizado</a>
        </div>
      </footer>
  </div>

   <!-- Video para Desktop -->
  <div class="absolute inset-0 hidden min-[500px]:block size-full z-10" >
    <img src="/model-y.avif" alt="model-y"
    class="size-full object-cover object-center"
    >
  </div>
  <!-- Cambiar el video de mobile -->
  <div class="absolute inset-0 hidden max-[500px]:block size-full z-10"  >
    <img src="/model-y-mb.avif" alt="model-y"
    class="size-full object-cover object-center"
    >
  </div>

</section>